<% if @candidate.nil? %>
       <div>
        <form action="/event/update/" id="event_form" method="post">
          <input type="hidden" id="hidden_id" name="id" value="<%= @event.id %>">
          <label for="title">Title</label>
           <input type="text" id="title" name="title" value="<%= @event.name %>">
          <label for="start">Start</label>
          <input type="text" id="start" name="start" value="<%= @event.start_at %>">
          <label for="end">End</label>
          <input type="text" id="end" name="end" value="<%= @event.end_at %>">
          <label for="description">Description</label>
          <input type="text" id="description" name="description" value="<%= @event.description %>">
          <label for="pending_id">Invited Candidate</label>
          <input type="text" id="pending_id" name="pending_id" value="<%= @event.pending_id %>">
          <% if not @event.candidate_id.nil? and not @event.candidate_id.strip.nil? %>
            <input type="hidden" id="candidate_id" name="candidate_id" value="<%= @event.candidate_id %>">
          <% end %>
          <input type="submit" id="Update" value="Update">
          <input type="submit" id="Delete" value="Delete">
        </form>
      </div>
<% else %>
      <div>
        <h6> Title </h6>
        <%= @event.name %>
     </div>
      <div>
         <h6> Start: </h6>
         <%= @event.start_at %>
      </div>
      <div>
          <h6>End: </h6>
         <%= @event.end_at %>
      </div>
      <div>
      <h6> Description: </h6>
      <%= @event.description %>
      </div>
      <form action="/event/update/" id="update_form" method="post">
           <input type="hidden" id="hidden_id" name="id" value="<%= @event.id %>">
           <input type="hidden" id="title" name="title" value="<%= @event.name %>">
          <input type="hidden" id="start" name="start" value="<%= @event.start_at %>">
          <input type="hidden" id="end" name="end" value="<%= @event.end_at %>">
          <input type="hidden" id="description" name="description" value="<%= @event.description %>">
          <input type="hidden" id="pending_id" name="pending_id" value="<%= @event.pending_id %>">
         <input type="hidden" id="candidate_id" name="candidate_id" value="<%= @candidate %>">
         <input type="submit" value="Accept invitation" id="acceptbutton">
      </form>
<% end %>
<script>
   $("#Delete").click( function() {
       $("#event_form").attr("action", "/event/delete");
    });
</script>
