<div class = "row main-page">
  <div class = "small-1 columns user-icon">
    <%= link_to raw('<i class="fi-home profile-icon"></i>'), candidate_path %>
    <p>Home</p>
    <%= link_to raw('<i class="fi-calendar profile-icon active-icon"></i>'), calendar_candidate_path %>
    <p>Calendar</p>
    <%= link_to raw('<i class="fi-list-thumbnails profile-icon"></i>'), list_candidate_path, :id=>"List"%>
    <p>Contacts</p>
    <%= link_to raw('<i class="fi-mail profile-icon"></i>'), candidate_mailbox_path(@candidate.username, "inbox") %>
    <p>Messages</p>
    <%= link_to raw('<i class="fi-wrench profile-icon"></i>'), "/candidates/#{@candidate.username}/edit", :id=>"Edit"%>
    <p>Settings</p>
  </div>

  <div class = "large-7 columns">
    <div id = "calendar">
    </div>
  </div>
  <div class = "large-3 columns calendar-explanation">

    <div class = "row">
    <div class = "large-2 columns">
      <div id = "pending-block"></div>
    </div>
    <div class = "large-10 columns setting-saying">
      <p><b>Past Interview</b> </br>[Interview Date Passed]</p>
    </div>
  </div>

  <div class = "row">
    <div class = "large-2 columns">
      <div id = "no-block"></div>
    </div>
    <div class = "large-10 columns setting-saying">
      <p><b>Pending</b> </br>[No Candidate Confirmed]</p>
    </div>
  </div>

  <div class = "row">
    <div class = "large-2 columns">
      <div id = "confirm-block"></div>
    </div>
    <div class = "large-10 columns setting-saying">
      <p><b>Confirmed</b> </br>[Confirmed Interview Timeslot]</p>
    </div>
  </div>
  </div>
  <div class = "large-1 columns">
  </div>
</div>
<script type='text/javascript'>

  $(document).ready(function() {
    $('#calendar').fullCalendar({
       eventClick: function(calEvent, jsEvent, view) {
        var title = calEvent.id
        window.location.href = "/event/show/" + title + "?from_id=<%= @candidate.username %>";
      },
      editable: true,
      events: [
          <% @events.each do |event| %>
          {
             id : "<%= event.id %>",
             title : "<%= event.name %>",
             start: "<%= event.start_at.strftime('%Y-%m-%d') %>",
             end: "<%= event.end_at.strftime('%Y-%m-%d') %>",
             <% if event.pending_id == "" or event.pending_id.nil? %>
                className: 'customOrange'
              <% elsif not (event.pending_id.nil? or event.pending_id == "") and not (event.candidate_id.nil? or event.pending_id == "")%>
                className: 'customGreen'
              <% else %>
                className: 'customRed'
             <% end %>
           },
          <% end %>
      ],

    });

  });
</script>
