
<%= content_tag :h4, "Edit page for #{@candidate.name}" %>
        <%= form_for @candidate, url: "/candidates/#{@candidate.name}", method: :put do |f| %>
            <div class="field">
                <%= f.label "Name" %>
                <%= f.text_field :name, :value=>"#{@candidate.name}" %>
            </div>
            <div class="field">
                <%= f.label "Email" %>
                <%= f.text_field :email, :value=>"#{@candidate.email}" %>
            </div>
            <div class ="field">
                <%= f.label "Password" %>
                <%= f.password_field :password, :value=>"#{@candidate.password}" %>
            </div>
            <div class="actions">
                <input type="submit" id="subutton" class="large button" value="Update">
            </div>
        <% end %>
