
<%= content_tag :h4, "Edit page for #{@candidate.name}" %>
    <form method="post" action="/user/modify">
    <%= hidden_field_tag "candidate_bool", "true" %>
            <div class="field">
                <label>Name</label>
                <%= text_field_tag "candidate_name", "#{@candidate.name}" %>
            </div>
            <div class="field">
                     <label>Email</label>
                     <%= text_field_tag "candidate_email", "#{@candidate.email}" %>
            </div>
            <div class ="field">
                <label>Password</label>
                <%= text_field_tag "candidate_password", "#{@candidate.password}" %>
            </div>
            <div class="actions">
                <input type="submit" id="subutton" class="large button" value="Update">
            </div>
       </form>
