<div class="row">
<div class = "row">
  <div class = "large-1 columns user-icon">
    <%= link_to raw('<i style="display: inline-block;" class="fi-home profile-icon"></i>'), candidate_path %>
    <%= link_to raw('<i style="display: inline-block;" class="fi-list-thumbnails profile-icon"></i>'), list_candidate_path, :id=>"List" %>
    <%= link_to raw('<i style="display: inline-block;" class="fi-calendar profile-icon"></i>'), calendar_candidate_path %>
      <%= link_to raw('<i style="display: inline-block;" class="fi-mail profile-icon"></i>'), candidate_mailbox_path(@candidate, "inbox") %>
    <%= link_to raw('<i class="fi-wrench profile-icon"></i>'), "/candidates/#{@candidate}/edit", :id=>"Edit" %>
  </div>

<% if @type == "inbox" %>
<div class="large-2 columns"><strong> Inbox </strong></div>
<div><a href="/candidate/<%= @candidate %>/mailbox/outbox">Outbox </a></div>
<% else %>
  <div class="large-2 columns"><a href="/candidate/<%= @candidate %>/mailbox/inbox">Inbox</a></div>
  <div><strong> Outbox </strong></div>
<% end %>
<table>
  <thead>
    <tr>
      <th> Title </th>
      <% if @type == "inbox" %>
      <th> From </th>
      <% else %>
       <th> To </th>
      <% end %>
    <tr>
  </thead>
<tbody>
<% @mail.each do |mail| %>
  <tr>
     <td><a href="/message/show/candidate/<%= @candidate %> / <%= mail.id %>"><%= mail.title %></a></td>
     <% if @type == "inbox" %>
     <td><%= mail.from %></td>
     <% else %>
     <td><%= mail.to %></td>
     <% end %>
   </tr>
<% end %>
</tbody>
</table>
<div class="large-1 columns">
<button class="small button" id="compose_button">Compose </a>
</div>
</div>

<script>
  $("#compose_button").click( function() {
    window.location.href = "/message/candidate/" + "<%= @candidate %>";
  });
</script>
