<div class = "row main-page">
   <div class = "small-1 columns user-icon">
    <%= link_to raw('<i class="fi-home profile-icon"></i>'), candidate_path %>
    <p>Home</p>
    <%= link_to raw('<i class="fi-calendar profile-icon"></i>'), calendar_candidate_path %>
    <p>Calendar</p>
    <%= link_to raw('<i class="fi-list-thumbnails profile-icon  active-icon"></i>'), list_candidate_path, :id=>"List"%>
    <p>Contacts</p>
    <%= link_to raw('<i class="fi-mail profile-icon"></i>'), candidate_mailbox_path(@candidate, "inbox")%>
    <p>Messages</p>
    <%= link_to raw('<i class="fi-wrench profile-icon"></i>'), "/candidates/#{@candidate}/edit", :id=>"Edit"%>
    <p>Settings</p>
  </div>

  <div class = "small-8 columns">
    <div class = "row page-title">
      <div class = "small-12 columns">
        <h2> Search Results</h2>
      </div>
    </div>
    
    <div class = "row">
	  <div class = "small-12 columns"> 
        <table id="candidates">
          <tr>
      		<th>Full Name</th>
      		<th>Username</th>
      		<th>Email</th>
      		<th>Add</th>    
    	  </tr>
  		  <% @recruiters.each do |recruiter|%>
    	    <tr>
      		  <%= form_tag("add_recruiter", method: "post") do %>
      		  	<td id="name"><%=recruiter.name%></td>
      			<%= hidden_field_tag(:recruiter, recruiter.username, :id => "recruiter_username") %>
      			<td id="username"><%=recruiter.username%></td>
      			<td id="email"><%=recruiter.email%></td>
      			<td><%= submit_tag("Add", class: "button small") %></td>
      	      <% end %>
    	    </tr>
  		  <% end %>
  		</table>
	  </div>
	</div>
  </div>

  <div class = "small-3 columns">
  </br></br>   
  <h4> Associate Recruiter </h4>
  <% if flash[:error] %>
    <%= flash[:error] %>
    </br></br>
  <% end %>
  <%= form_tag("add_recruiter", method: "post") do %>
      <%= label_tag(:recruiter, "Recruiter's Username") %>
      <%= text_field_tag(:recruiter, nil, :id=>"recruiter_username") %>
      <%= submit_tag("Add", class: "button alert small") %>
  <% end %>
  <h4>Search</h4>
  <%= form_tag("search", method: "get") do %>
    <%= label_tag("Search by name or username")%>
    <input type="hidden" id="candidate" name="candidate" value="<%= @candidate %>" >
    <input type="text" id="keyword" name="keyword">
    <input type="submit" id="Search" value="Search" class = "button alert small">
  <% end %>

  </div>
  
</div>




