<div class = "row main-page">
  <div class = "small-1 columns user-icon">
    <%= link_to raw('<i class="fi-home profile-icon active-icon"></i>'), candidate_path %>
    <p>Home</p>
    <%= link_to raw('<i class="fi-calendar profile-icon"></i>'), calendar_candidate_path %>
    <p>Calendar</p>
    <%= link_to raw('<i class="fi-list-thumbnails profile-icon"></i>'), list_candidate_path, :id=>"List"%>
    <p>Contacts</p>
    <%= link_to raw('<i class="fi-mail profile-icon"></i>'), candidate_mailbox_path(@candidate.username, "inbox") %>
    <p>Messages</p>
    <%= link_to raw('<i class="fi-wrench profile-icon"></i>'), "/candidates/#{@candidate.username}/edit", :id=>"Edit"%>
    <p>Settings</p>
  </div>

  <div class = "small-11 columns">
    <div class = "row page-title">
      <div class = "small-12 columns">
        <h2> Dashboard </h2>
      </div>
    </div>

    <div class = "row">
      <div class = "small-5 columns">
    <div class = "row profile-view">
      <div class = "small-6 columns">
        <%= image_tag @candidate.pic.url(:thumb), id: "profile-picture" %>
      </div>
      <div class = "small-6 columns profile-info">
        <div class = "panel">
        <h5>Username</h5>
        <h6><%= @candidate.username %></h6>
        <h5>Name</h5>
        <h6><%= @candidate.name %></h6>
        <h5>Area of Interest</h5>
        <h6><%= @candidate.area_of_interest %></h6>
        <h5>Education</h5>
        <h6><%= @candidate.education %></h6>
        <h5>Location</h5>
        <h6><%= @candidate.location %></h6>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "small-12 columns profile-info-summary">
        <div class = "panel">
          <h5>Summary</h5>
          <h6><%= @candidate.summary %></h6>
        </div>

        <a class = "button alert" id = "resume-button" href="<%= @candidate.attach.url %>">Resume</a>

      </div>
    </div>

      </div>

      <div class = "small-7 columns ">
    <div class = "row request-events">
      <div class = "small-12 columns">
            <h4> Pending Interview Requests </h4>
            <% if @requests.empty? %>
              <p> No pending requests </p>
            <% else %>
              <table id="pending_requests">
        <thread>
          <tr>
            <th>Event Title</th>
            <th>Recruiter</th>
            <th>Date</th>
            <th>Details</th>
          </tr>
        </thread>
        <tbody>
                <% @requests.each do |request|%>
          <% request_info = show_request_info(request, request.recruiter_id)%>
                  <tr>
                    <td id="title"><%= request_info[0] %></td>
          <td id="meet_with"><%= request_info[1] %></td>
          <td id="date"><%= request_info[2] %></td>
                    <td>
            <a class="small button" href="/event/show/<%=request.id%>?from_id=<%=@candidate.username%>">Details</a>
            </td>
                  </tr>
                <% end %>
        </tbody>
              </table>
            <% end %>
          </div>
    </div>
    <div class = "row">
      <div class = "small-12 columns">
        <h4> Upcoming Events </h4>
            <% if @events.empty? %>
              <p> No upcoming events </p>
            <% else %>

        <table id="show-events">
        <thread>
          <tr>
            <th>Event Title</th>
            <th>Recruiter</th>
            <th>Status</th>
            <th>Date</th>
            <th>Details</th>
          </tr>
        </thread>
        <tbody>
                <% @events.each do |event|%>
          <% request_info = show_event_info(event, event.recruiter_id)%>
                  <tr>
                    <td id="title"><%= request_info[0] %></td>
          <td id="meet_with"><%= request_info[1] %></td>
          <td id="status"><%= request_info[2] %></td>
          <td id="date"><%= request_info[3] %></td>
                    <td>
            <a class="small button" href="/event/show/<%=event.id%>?from_id=<%=@candidate.username%>">Details</a>
            </td>
                  </tr>
                <% end %>
        </tbody>
              </table>

            <% end %>
      </div>
    </div>
      </div>

    </div>
  </div>
</div>



