<div class = "row">
  <div class = "large-12 columns">
    <%= content_tag :h4, "#{@candidate.name}'s page" %>
  </div>
  <div class="large-12 columns">
    <%= image_tag @candidate.pic.url(:thumb) %>
  </div>
  <br/>
  <div class="large-12 columns">
    <a style="display: inline-block;" href="<%= @candidate.attach.url %>">Resume</a>
  </div>
</div>

<div class = "row">
  <div class = "large-1 columns user-icon">
  <%= link_to raw('<i style="display: inline-block;" class="fi-home profile-icon"></i>'), candidate_path %>
  <%= link_to raw('<i style="display: inline-block;" class="fi-list-thumbnails profile-icon"></i>'), list_candidate_path %>
  <%= link_to raw('<i style="display: inline-block;" class="fi-calendar profile-icon"></i>'), calendar_candidate_path %>
    <i class="fi-mail profile-icon"></i>
    <i class="fi-wrench profile-icon"></i>
  </div>

  <div class = "large-8 columns">
    <h2> Dashboard </h2>
    <h3> Upcoming Events </h3>
    <% if @events.empty? %>
      <p> No upcoming events </p>
    <% else %>
      <% @events.each do |event|%>
        <p><%="#{username(event.recruiter_id, :Recruiter)}, #{mdyFormat(event.start_at)}"%></p>
      <% end %>
    <% end %>
  </div>


  <div class = "large-3 columns">
    <form action="/candidates/<%=@candidate.username %>/edit" method="get">
       <input type="submit" value="Edit" class = "medium button" id="edit_button">
    </form>
  </div>

</div>

