<div class = "row">
  <p>
    <b>Candidate:</b>
    <%= image_tag @candidate.pic.url %>
  </p>
  <div class = "large-12 columns">
    <%= content_tag :h4, "#{@candidate.name}'s page" %>
  </div>
</div>

<div class = "row">
	
  <div class = "large-1 columns user-icon">
	<%= link_to raw('<i class="fi-home profile-icon"></i>'), candidate_path %>
	<%= link_to raw('<i class="fi-list-thumbnails profile-icon"></i>'), list_candidate_path %>
    <i class="fi-calendar profile-icon"></i>
    <i class="fi-mail profile-icon"></i>
    <i class="fi-wrench profile-icon"></i>
  </div>

  <div class = "large-8 columns">
    <div id = "calendar">
    </div>
  </div>

  <div class = "large-3 columns">
    <form action="/candidates/<%=@candidate.username %>/edit" method="get">
       <input type="submit" value="Edit" class = "medium button" id="edit_button">
    </form>
  </div>

</div>

<script type='text/javascript'>

	$(document).ready(function() {
	
		
		$('#calendar').fullCalendar({
			editable: true,
			events: [
				{
					title: 'Interview With Tien',
					start: new Date(2013, 10, 15),
					allDay: false
				},
				{
					title: 'Interview With Nick',
					start: new Date(2013, 10, 18),
					end: new Date(2013, 10, 19),
					allDay: false
				}
			]
		});
		
	});
</script>
