
<%= content_tag :h4, "Edit page for #{@recruiter.name}" %>
  <%= form_for @recruiter, :html => { :id => "new_recruiter", :multipart => true }, url: "/recruiters/#{@recruiter.username}",  method: :put do |f| %>
    <div class="field">
      <%= f.label "Name" %>
      <%= f.text_field :name, :value=>"#{@recruiter.name}" %>
    </div>
      <div class="field">
        <%= f.label "Email" %>
        <%= f.text_field :email, :value=>"#{@recruiter.email}" %>
    </div>
      <div class ="field">
        <%= f.label "Password" %>
        <%= f.password_field :password, :value=>"#{@recruiter.password}" %>
    </div>

    <div class="pic">
      <br/>
      <%= f.label "Picture" %>
      <%= f.file_field :pic %>
      <br/>
    </div>

    <br/>

    <div class="actions">
      <input type="submit" id="subutton" class="small button" value="Update">
       <input type="submit" id="cancel" class="small button" value="Cancel">
    </div>
<% end %>

<script>
 $("#cancel").click( function () {
    $("#new_recruiter").attr("action", "/welcome/index");
    $("#new_recruiter").attr("method", "get");
 });
</script>
