<div class = "row main-page">
  <div class = "small-1 columns user-icon">
    <%= link_to raw('<i class="fi-home profile-icon"></i>'), recruiter_path %>
    <p>Home</p>
    <%= link_to raw('<i class="fi-calendar profile-icon"></i>'), calendar_recruiter_path(@recruiter.username) %>
    <p>Calendar</p>
    <%= link_to raw('<i class="fi-list-thumbnails profile-icon active-icon"></i>'), list_recruiter_path, :id=>"List"%>
    <p>Contacts</p>
    <%= link_to raw('<i class="fi-mail profile-icon"></i>'), recruiter_mailbox_path(@recruiter.username, "inbox") %>
    <p>Messages</p>
    <%= link_to raw('<i class="fi-wrench profile-icon"></i>'), "/recruiters/#{@recruiter.username}/edit", :id=>"Edit"%>
    <p>Settings</p>
  </div>
  <div class = "large-6 columns">
  <div class = "row page-title">
      <div class = "small-12 columns">
        <h2> List of Associated Candidates </h2>
      </div>
    </div>
    <table id="candidates">
      <tr>
        <th>Full Name</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
      <% @candidates.each do |candidate|%>
        <tr>
          <td id="name"><%=candidate.name%></td>
          <td id="username"><%=candidate.username%></td>
          <td id="email"><%=candidate.email%></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class = "large-3 columns search-feature">
  <h3> Associate Candidate </h3>
  <% if flash[:error] %>
    <%= flash[:error] %>
    </br></br>
  <% end %>
  <h6> Add Candidate </h6>
  <%= form_tag("add_candidate", method: "post") do %>
      <%= text_field_tag(:candidate, nil, :id=>"candidate_username") %>
      <%= submit_tag("Add", class: "button alert")%>
  <% end %>
   <h6> Search by name or username </h6>
  <%= form_tag("search", method: "get") do %>
     <input type="hidden" id="recruiter" name="recruiter" value="<%= @recruiter.username %>">
     <input type="text" id="keyword" name="keyword">
     <input type="submit" class ="button alert" id="Search" value="Search">
  <% end %>
  </div>
  <div class = "large-2 columns">
  </div>
</div>
