<div class = "row">
  <div class = "large-12 columns">
    <%= content_tag :h4, "#{@recruiter.name}'s page" %>
  </div>
  <div class="large-12 columns">
      </div>
  <br/>

</div>

<div class = "row">
  <div class = "large-1 columns user-icon">
    <%= link_to raw('<i style="display: inline-block;" class="fi-home profile-icon"></i>'), recruiter_path %>
    <%= link_to raw('<i style="display: inline-block;" class="fi-list-thumbnails profile-icon"></i>'), list_recruiter_path, :id=>"List"%>
    <%= link_to raw('<i style="display: inline-block;" class="fi-calendar profile-icon"></i>'), calendar_recruiter_path %>
    <i class="fi-mail profile-icon"></i>
    <%= link_to raw('<i class="fi-wrench profile-icon"></i>'), "/recruiters/#{@recruiter.username}/edit", :id=>"Edit"%>
  </div>

  <div class = "large-8 columns">
    <h2> Dashboard </h2>
    <h3> Upcoming Events </h3>
    <% if @events.empty? %>
      <p> No upcoming events </p>
    <% else %>
      <% @events.each do |event|%>
        <p><%=show_event_info(event, event.pending_id)%></p>
      <% end %>
    <% end %>
  </div>

  <div class = "large-3 columns">
      <%= image_tag @recruiter.pic.url(:thumb) %>
   </div>
</div>
