<div class = "row">
  <div class = "large-12 columns">
    <%= content_tag :h4, "#{@recruiter.name}'s page" %>
  </div>
  <div class="large-12 columns">
    <%= image_tag @recruiter.pic.url(:thumb) %>
  </div>
  <br/>

</div>

<div class = "row">
  <div class = "large-1 columns user-icon">
  <%= link_to raw('<i style="display: inline-block;" class="fi-home profile-icon"></i>'), recruiter_path %>
    <%= link_to raw('<i style="display: inline-block;" class="fi-list-thumbnails profile-icon"></i>'), list_recruiter_path %>
    <i class="fi-mail profile-icon"></i>
    <i class="fi-wrench profile-icon"></i>
  </div>

  <div class = "large-8 columns">
    <div id = "calendar">
    </div>
  </div>

  <div class = "large-3 columns">
    <form action="/recruiters/<%=@recruiter.username%>/edit" method="get">
       <input type="submit"  value="Edit" class="medium button" id="edit_button">
    </form>
  </div>
</div>

<div class="popup"><h3>Add an Event</h3>
<form action="/event/create" id="creationForm" method="post">
<label>Title:</label><input class="title" name="title" type="text" id="title">
<label>Start_Date(m, d, y): </label>
   <div>
   <select id="start_month" name="start_month">
       <option selected value="0">Jan</option>
       <option value="1">Feb</option>
       <option value="2">March</option>
       <option value="3">April</option>
       <option value="4">May</option>
       <option value="5">June</option>
       <option value="6">July</option>
       <option value="7">Aug</option>
       <option value="8">Sept</option>
       <option value="9">Oct</option>
       <option value="10">Nov</option>
       <option value="11">Dec</option>
   </select>
   </div>
      <div>
   <select id="start_date" name="start_date">
       <%  options = []
           (1..31).each do |n|
              dateOption = [n, n]
              options << dateOption
           end %>
        <%= options_for_select(options, 1) %>
    </select>
    </div>
   <div>
   <select id="start_year" name="start_year">
       <option value="2013">2013</option>
       <option value="2014">2014</option>
       <option value="2015">2015</option>
       <option value="2016">2016</option>
    </select>
    </div>

<label>End_Date(m, d, y): </label>
   <div>
   <select id="end_month" name="end_month">
       <option selected value="0">Jan</option>
       <option value="1">Feb</option>
       <option value="2">March</option>
       <option value="3">April</option>
       <option value="4">May</option>
       <option value="5">June</option>
       <option value="6">July</option>
       <option value="7">Aug</option>
       <option value="8">Sept</option>
       <option value="9">Oct</option>
       <option value="10">Nov</option>
       <option value="11">Dec</option>
   </select>
   </div>
   <div>
   <select id="end_date" name="end_date">
       <%  options = []
           (1..31).each do |n|
              dateOption = [n, n]
              options << dateOption
           end %>
        <%= options_for_select(options, 1) %>
    </select>
   </div>
   <div>
   <select id="end_year" name="end_year">
       <option value="2013">2013</option>
       <option value="2014">2014</option>
       <option value="2015">2015</option>
       <option value="2016">2016</option>
    </select>
   </div>
<label>Start_Time(hr, min):</label>
  <div>
  <select id="start_hour" name="start_hour">
    <% options = []
       (1..12).each do |n|
          timeOption = [n, n]
          options << timeOption
       end %>
     <%= options_for_select(options, 1) %>
  </select>
  </div>
  <div>
  <select id="start_minutes" name="start_minutes">
      <% options = []
       (0..59).each do |n|
          timeOption = [n, n]
          options << timeOption
       end %>
     <%= options_for_select(options, 1) %>
  </select>
  </div>
  <div>
  <select id="start_selection" name="start_selection">
      <option selected value="AM">AM</option>
      <option value="PM">PM</option>
  </select>
  </div>
<label>End_Time(hr, min):</label>
    <div>
    <select id="end_hour" name="end_hour">
    <% options = []
       (1..12).each do |n|
          timeOption = [n, n]
          options << timeOption
       end %>
     <%= options_for_select(options, 1) %>
  </select>
  </div>
  <div>
  <select id="end_minutes" name="end_minutes">
      <% options = []
       (0..59).each do |n|
          timeOption = [n, n]
          options << timeOption
       end %>
     <%= options_for_select(options, 1) %>
  </select>
  </div>
 <div>
  <select id="end_selection" name="end_selection">
      <option selected value="AM">AM</option>
      <option value="PM">PM</option>
  </select></div>
 <label>Description</label><textarea id="description" name="description" class="textarea"></textarea>
<%= hidden_field_tag "recruiter_id", "#{@recruiter.id}" %>
<input type="submit" class="submitForm" id="submitButton" value="Submit">
</form>
<input type="submit" class="submitForm" id="cancelButton" value="Cancel"></div>
<%= hidden_field_tag 'eventstring', "#{@eventsAsString}" %>
<script type='text/javascript'>
  $(document).ready(function() {
     $('#calendar').fullCalendar({
      editable: true,
      selectable: true,
      selectHelper: true,
      select: function(start, end, allDay) {
         $(".popup").show(); // show's pop up
         $(".popup").attr("action", "/event/create");
         $(".popup").attr("method", "post");
         var startDate = new Date(start);
         var endDate = new Date(end);
         $("#start_month").val(startDate.getMonth());
         $("#start_date").val(startDate.getDate());
         $("#start_year").val(startDate.getFullYear());
         $("#end_month").val(endDate.getMonth());
         $("#end_date").val(endDate.getDate());
         $("#end_year").val(endDate.getFullYear());
         $(".popup").draggable();
         $(".submitForm").click(function(){ // on submission
              var title = $(".title").val(); // gets title value
              if(title != ""){ // if the title exists run script
              }
            $(".title").attr("value", "");
            $(".popup").hide(); // hide pop up box
        });
        $("#cancelForm").click(function() {
           $(".popup").hide();
     });

      },
     unselect: function() {
      },

  });
});

</script>
