<!DOCTYPE html>
<html>
<head>
  <title>Interview Scheduler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Interview Scheduler</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
    <li class="has-form">
          <form action="/welcome/show" id="loginfo" method="get" id="inputform">
              <div class="row collapse">
                <div class="small-5 columns">
                    <input type="text" name="userid" value="Username">
                </div>
                <div class="small-5 columns">
                    <input type="text" name="passid" value="Password">
                </div>
                <div class="small-2 columns">
                    <input type="submit" id="submitpass" class="button" value="Login"></a>
                </div>
              </div>
          </form>
      </li>
    </ul>
  </section>
</nav>
<% if flash[:notice] %>
  <%= flash[:notice] %>
   <% end %>
<%= yield %>


</body>
</html>
